<!DOCTYPE html>

<html>

    <head>

    </head>
    
    <body>
        {{>header}}
        
        <br />
        <form>
            <input placeholder="city" id="search-city">
            <button type="button" id="search-btn"> search </button>
        </form>

        <p id="weather-p">
            
        </p>
        <br />
        {{>footer}}
        
    </body>
    <script src="/js/script.js" ></script>
</html>